@using Register.ViewModels;

@model EditUserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method ="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SurName">SurName</label>
        <input asp-for="SurName" class="form-control" placeholder="SurName">
        <span asp-validation-for="SurName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="phone">Phone</label>
        <input asp-for="phone" class="form-control" placeholder="PhoneNumber">
        <span asp-validation-for="phone" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<form >
<div>
    <a asp-controller="User" asp-action="Delete" asp-route-id="ID"
       class="btn btn-sm btn-outline-secondary">Delete</a>
</div>
</form>

    

